<div id="<%= dom_id clip %>">
  <p>
    <strong>Title:</strong>
    <%= clip.title %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= clip.link %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= clip.artist_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= clip.description %>
  </p>

  <p>
    <strong>Sortie:</strong>
    <%= clip.sortie %>
  </p>

</div>
